<h1>Edit a Store</h1>

<%= form_with(model: @store) do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<%= f.hidden_field :user_id, value: current_user.id %>
<br><br>
<%= f.submit "Edit Store" %>
<% end %>