<h1>Add a Store</h1>

<%= render partial: "layouts/errors", locals: {object: @store} %>

<%= form_with(model: @store) do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<%= f.fields_for :coupons, @store.coupons do |c| %>
<h4>Add a Coupon</h4>
  <div>
<%= c.label :product_name %>
<%= c.text_field :product_name %>
</div>
<div>
<%= c.label :expiration_date %>
<%= c.date_field :expiration_date %>
</div>
<div>
<%= c.label :value %>
<%= c.number_field :value, min: 0, step: 0.01  %>

<%= c.hidden_field :user_id, value: current_user.id %>
</div>

  <% end %>
<%= f.hidden_field :user_id, value: current_user.id %>
<br><br>
<%= f.submit "Add Store" %>
<% end %>