<h1>Create New Coupon</h1>

<%= form_for  @coupon do |f| %>
<div>
<%= f.label :product_name %>
<%= f.text_field :product_name %>
</div>
<div>
<%= f.label :expiration_date %>
<%= f.date_field :expiration_date %>
</div>
<div>
<%= f.label :value %>
<%= f.number_field :value, min: 0, step: 0.01  %>
</div>

<h3>Select Store</h3>
<div>
  <%= f.collection_select :store_id, Store.all, :id, :name, include_blank: "Select Store"  %>
</div>

<h3>or, Add a New Store</h3>
<%= f.fields_for :store, @coupon.build_store do |s|%>
  <div>
    <%= s.label :name %>
    <%= s.text_field :name %>
  </div>
<% end %>

<br><br>
<%= f.submit "Add Coupon" %>
<% end %>