<h2><%= @coupon.product_name %></h2>
<h3><%= @coupon.store_name %></h3>
<p>Expiration: <%= @coupon.expiration_date %></p>
<p>Value: <%= @coupon.value %></p>

<%= link_to "Edit", edit_coupon_path(@coupon) %>
<%= link_to "Delete", coupon_path(@coupon), method: "delete" %>